<div class="content_post" style="background-image: url(<%= tweet.image %>);">
  <div class="more">
    <span><%= image_tag 'list-icon.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %>
        </li>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li>
            <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
          </li>
        <% end %>
      </ul>
  </div>
  <div class= "tweet_text">
  <%= simple_format(tweet.text) %>
  </div>
  <div id="likes_buttons_<%= tweet.id %> likes_button_index">
    <%= render partial: 'likes/like_index', locals: { tweet: tweet, likes: @likes} %>
  </div>
  <span class="name">
    <a href="/users/<%= tweet.user_id %>">
      <span>投稿者</span><%= tweet.user.nickname %>
    </a>
  </span>
</div>
