<div class="contents row">
  <%= form_with url: tweet_path(@tweet.id), method: :patch, local:true do |f| %>
    <h3>
      編集する
    </h3>
    <%= f.text_area :content, cols: '30', name: 'text', rows: '10', placeholder: 'いまどうしてる？', value: @tweet.text %>
    <%= f.label :image, class: "upload-label", for: "upload-icon" do %>
      <i class="far fa-image image_icon"></i><br>
      <%= f.file_field :image, accept: 'image/jpg,image/jpeg,image/png,image/gif', id: "upload-icon" %>
      <%= image_tag @tweet.image.to_s, id: "img_prev", class:'img_hidden_edit', width: "150px", height: "auto" %>
    <% end %>
    <%= f.submit value: '編集完了' %>
  <% end %>
</div>
