<% if user_signed_in? %>
  <% if tweet.like_user(current_user.id).blank? && current_user != tweet.user %>
    <%= link_to tweet_likes_path(tweet.id), method: :post, remote: true do %>
      <div class="vertical_like">
        <i class="far fa-heart like-normal"></i>
        <span class="count_like-normal">
          <%= tweet.likes_count %>
        </span>
      </div>
    <% end %>
  <% elsif tweet.user_id == current_user.id %>
    <div class="vertical_like">
      <% if tweet.likes.length == 0 %>
        <i class="far fa-heart like-normal"></i>
        <span class="count_like-normal">
          <%= tweet.likes_count %>
        </span>
      <% else %>
        <i class="fas fa-heart like-icon"></i>
        <span class="count_like-icon">
          <%= tweet.likes_count %>
        </span>
      <% end %>
    </div>
  <% else %>
    <%= link_to tweet_like_path(tweet_id: tweet.id, id: tweet.likes[0].id), method: :delete, remote: true do %>
      <div class="vertical_like">
        <i class="fas fa-heart like-icon"></i>
        <span class="count_like-icon">
          <%= tweet.likes_count %>
        </span>
      </div>
    <% end %>
  <% end %>

  <% else %>

    <% if tweet.likes_count > 0 %>
      <div class="vertical_like">
        <i class="fas fa-heart like-icon"></i>
        <span class="count_like-icon">
          <%= tweet.likes_count %>
        </span>
      </div>
    <% else %>
      <div class="vertical_like">
        <i class="far fa-heart like-normal"></i>
        <span class="count_like-normal">
          <%= tweet.likes_count %>
        </span>
      </div>
    <% end %>

  <% end %>

